body {
  font-size: 1.2em;
  line-height: 1.7rem;
}

h1,
h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 1em;
}

.content {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;

  padding: 1em;
  border: 1px solid orangered; /* for debugging purposes */
}

.grid-container {
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
}

.footer {
  align-self: end;
}
