body {
  font-size: 1.2em;
  line-height: 1.7rem;
  color: black;
}

h1,
h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 1em;
}

.content {
  max-width: 60ch;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  min-height: 100vh;
}

.header {
  background-color: rgb(255 225 245);
  padding: 0.5em;
  text-align: center;
}

.main {
  background-color: rgb(225 245 254);
  padding: 0.5em;
}

.article {
  word-break: break-word;
}

.article__title {
  text-align: center;
}

.recipe-list {
  margin-top: 2em;
  color: rgb(0 80 255);
}

.recipe-list__item {
  cursor: pointer;
  width: max-content;
}

.recipe-list__item::after {
  content: "";
  width: 32px;
  height: 32px;
  background: url(./assets/link-icon.png) no-repeat;
  display: inline-block;
  position: relative;
  top: 7px;
}

.recipe-list__item + .recipe-list__item {
  margin-top: 1em;
}

.footer {
  background-color: #6a1b9a;
  color: rgb(255 255 255 / 75%);
  padding: 0.5em;
  text-align: center;
  font-size: 0.8rem;
}

.footer__text {
  margin: 0 auto;
  max-width: 40ch;
}
